

.product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.product-brand-item{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #20b04b;
    /*rgb(255,90,22) */
    color: #20b04b;
    background: #e8ffef;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.product-brand-item:hover{
    box-shadow: 0 0 5px rgb(10, 99, 37, 0.2);
}
.product-claims-item{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ff5a16;
    /*rgb(255,90,22) */
    color: #ff5a16;
    background: #fff0ea;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.product-claims-item:hover{
    box-shadow: 0 0 5px rgba(154, 56, 15, 0.2);
}
.product-attributes-item{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #6E72A0;
    /*rgb(255,90,22) */
    color: #6E72A0;
    background: #eaecff;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.product-attributes-item:hover{
    box-shadow: 0 0 5px rgb(61, 65, 111, 0.2);
}